Remove-NetIPAddress -InterfaceIndex {{ Interface_Index }} - IPAddress {{ IP_Address_Last }} -PrefixLength {{ Prefix_Length }} -Addressfamily {{ Address_Family }}
New-NetIPAddress -InterfaceIndex {{ Interface_Index }} -IPAddress {{ IP_Address }} -PrefixLength {{ Prefix_Length }} -AddressFamily {{ Address_Family }}
